{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/user/dashboard.css' %}">
</head>
<body>
    <div class="navbar">
    <div>CommunityMed</div>
    <div>
        {{ request.user.username }} |
        <a href="{% url 'logout' %}" style="color:white;">Logout</a>
    </div>
</div>

<div class="container">

    <div class="card">
        <h2>Welcome, {{ request.user.username }}</h2>
        <p>Email: {{ request.user.email }}</p>
        <p>Phone: {{ request.user.phone }}</p>
        <p>Location: {{ request.user.location }}</p>
    </div>

    <div class="card">
        <h3>Actions</h3>
        <a href="{% url 'request_medicine' %}" class="btn">Request Medicine</a>
    </div>

</div>
</body>
</html>