{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'css/user/registration.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
</head>
<body>
<div class="form-container">
    <h2>User Registration</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="text" name="phone" placeholder="Phone">
        <div class="location-section">

    <label>Select Location</label>

    <div id="map"></div>

    <input type="text"
           name="location_name"
           id="location_name"
           readonly>

    <input type="hidden"
           name="latitude"
           id="latitude">

    <input type="hidden"
           name="longitude"
           id="longitude">

</div>

        <button type="submit">Register</button>
    </form>

    <p class="error">{{ error }}</p>

    <div class="footer">
        Already have an account? <a href="{% url 'login' %}">Login</a>
    </div>
</div>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{% static 'js/locationPicker.js' %}"></script>
</body>
</html>